<h1><%= @story.name %></h1>
<a href="/stories/<%= @story.id %>/edit">Update</a>
<%= link_to 'Delete', "/stories/#{@story.id}", method: :delete, id: "delete_story_#{@story.id}" %>
<ul>
  <li>Likes: <%= @story.likes %></li>
  <li>Published: <%= @story.published %></li>
  <li>Author: <%= @story.author.name %></li>
</ul>
