<h2>Edit Student <%=@student.name%></h2>

<div class='new-form-area'>
  <%= form_with local: true,  url: "/students/#{@student.id}", method: :patch, class: 'new-form' do |form| %>
    <%= label :student, :name, 'Student Name'%>
    <%= text_field :student, :name %>
    <%= label :student, :age, 'Age' %>
    <%= text_field :student, :age %>
    <%= label :student, :degree, "Student's Degree" %>
    <%= text_field :student, :degree %>
    <%= label :student, :is_alumni, 'Student is Alumni' %>
    <%= select :student, :is_alumni, [['Yes', 'true'], ['No', 'false']], selected: @student.is_alumni? %>
    <%= form.submit %>
  <% end %>
  </div>
