<br /><br /><br />
<table class='model-list'>
  <tr id='header_row' class='fs-3 pd-4 center-text'>
    <th>
      Student ID
      </th>
    <th>
      Student Name
      </th>
    <th>
      Age
      </th>
    <th>
      Attending School
      </th>
    <th>
      Degree
      </th>
    <th>
      Graduate
      </th>
    </tr>
    <tr id='student_attrs' class='fs-3 center-text'>
      <td id='student_id'>
        <%=@student.id%>
        </td>
      <td id='student_name'>
        <%=@student.name%>
        </td>
      <td id='student_age'>
        <%=@student.age%>
        </td>
      <td id='student_school'>
        <a class='td-selection-area' href='/schools/<%=@student.school_id%>'><%=@student.school.name%></a>
        </td>
      <td id='student_degree'>
        <%=@student.degree%>
        </td>
      <td id='student_graduated'>
        <%=@student.has_graduated?%>
        </td>
      </tr>
    <tr class='last-row'>
      <td colspan='5'>
        <a id='edit_student_btn' class='custom-button edit' href='/students/<%=@student.id%>/edit'>Update Student</a><br /><br />
        <a id='delete_student_btn' class='custom-button danger' data-method='delete' href='/students/<%=@student.id%>'>Delete Student</a>
        </td>
      </tr>
  </table>
