<h2>List of All Schools</h2>
<table class='model-list'>
    <a class='custom-button new fs-4' href='/schools/new'>Add New School</a><br /><br />
    <%@schools.each do |school| %>
    <tr>
      <th>
        School Name
        </th>
      <th>
        Creation Date
        </th>
      </tr>
    <tr>
      <td>
        <a class='td-selection-area' href=<%="/schools/#{school.id}"%>><%="#{school.name}"%></a>
        </td>
      <td>
        <%=school.created_at%>
        </td>
    </tr>
    <tr class='last-row'>
      <td colspan='2'>
        <a class='custom-button edit' href='<%="/schools/#{school.id}/edit"%>'> Edit </a>
        <form class='delete-form' action='<%="/schools/#{school.id}"%>' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
          <input type='hidden' name='_method' value='DELETE' />
          <input id='delete-button' class='custom-button danger' type='submit' value='Delete' />
        </form>
      </td>
      </tr>
    <%end%>
</table>
