<h2>School Record</h2>
<h3>School ID: </h3><label><%=@school.id%></label>
<h3>School Name: </h3><label><%=@school.name%></label>
<h3>Number of Students: </h3><label><%=@school.students.length%></label>
<h3>School Code: </h3><label><%=@school.school_code%></label>
<h3>School is Remote? </h3><label><%=@school.remote?%></label><br /><br />
<a href='<%="/schools/#{@school.id}/edit"%>'>Update School</a><br />
<a href='<%="/schools/#{@school.id}/students/new"%>'>Add new Student</a><br />
<a href='<%="/schools/#{@school.id}/students"%>'>View List of Students</a><br />
<a href='<%="/schools/#{@school.id}/degrees"%>'>Show List of Pursued Degrees</a><br /><br />
<form action='<%="/schools/#{@school.id}"%>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
  <input type='hidden' name='_method' value='DELETE' />
  <input type='submit' value='Delete School' />
</form>
