<h2 class='center-heading'>List of Students for <a href=<%="/schools/#{@school.id}"%>><%=@school.name%></a></h2>
<table id='header_table' class='model-list'>
  <tr class='last-row'>
    <td>
      <form id='greater_than_age_form' action='<%="/schools/#{@school.id}/students"%>' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
        <label for='count'>Get students older than</label>
        <input type='number' name='age' value='18'/>
        <label for='sort_by_name'>Sort by name</label>
        <input type='checkbox' name='sort_by_name' value='true' />
        <input id='submit_age_sort_btn' type='submit' value='Submit' />
      </form>
      </td>
    </tr>
  <tr class='last-row'>
    <td>
      <a class='custom-button normal' href='<%="/schools/#{@school.id}/students?sort_by_name=true"%>'>Alphabetize</a>
      </td>
    </tr>
  </table>
<table id='student-table' class='model-list'>
  <tr>
    <th>
      Student Name
    </th>
    <th>
      Creation Date
    </th>
  </tr>
  <%@students.each do |student| %>
    <tr id='<%="student_data_row_#{student.id}"%>'>
      <td>
        <a id='<%="view_student_#{student.id}"%>' class='td-selection-area' href=<%="/students/#{student.id}"%>><%=student.name%></a>
        </td>
      <td>
        <%=student.created_at%>
        </td>
      </tr>
    <tr class='last-row'>
      <td colspan='2'>
        <a id='<%="edit_student_#{student.id}"%>' class='custom-button edit' href='<%="/students/#{student.id}/edit"%>'>Edit</a>
        <form class='delete-form' action='<%="/schools/#{@school.id}/students"%>' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
          <input type='hidden' name='_method' value='DELETE' />
          <input type='hidden' name='student[id]' value='<%=student.id%>' />
          <input id='<%="delete_student_#{student.id}"%>' class='custom-button danger' type='submit' value='Delete' />
        </form>
        </td>
      </tr>
    <%end%>
  </table>
