<h2>List of Students for <a href=<%="/schools/#{@school.id}"%>><%=@school.name%></a></h2>
<form action='<%="/schools/#{@school.id}/students"%>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
  <label for='count'>Limit Count To</label>
  <input type='number' name='count' value='<%=@students.count%>' />
  <input type='submit' value='Submit' />
</form>
<ul>
  <%@students.each do |student| %>
  <li>
    <a href=<%="/students/#{student.id}"%>><%=student.name%></a> <a class='custom-button' href='<%="/students/#{student.id}/edit"%>'>Edit</a>
    <form class='delete-form' action='<%="/schools/#{@school.id}/students"%>' method='POST'>
      <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
      <input type='hidden' name='_method' value='DELETE' />
      <input type='hidden' name='student[id]' value='<%=student.id%>' />
      <input class='custom-button' type='submit' value='Delete' />
    </form>
  </li>
  <%end%>
</ul>
