<h2>List of Students for <a href=<%="/schools/#{@school.id}"%>><%=@school.name%></a></h2>

<ul>
  <%@school.students.each do |student| %>
  <li>
    <a href=<%="/students/#{student.id}"%>><%=student.name%></a> <a href='<%="/students/#{student.id}/edit"%>'>Edit</a>
  </li>
  <%end%>
</ul>
