<h2>List of Students for <a href=<%="/schools/#{@school.id}"%>><%=@school.name%></a></h2>
<form action='<%="/schools/#{@school.id}/students"%>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
  <label for='count'>Limit Count To</label>
  <input type='number' name='count' value='10' />
  <input type='submit' value='Submit' />
</form>
<ul>
  <%@students.each do |student| %>
  <li>
    <a href=<%="/students/#{student.id}"%>><%=student.name%></a> <a href='<%="/students/#{student.id}/edit"%>'>Edit</a>
  </li>
  <%end%>
</ul>
