<h1><%= @author.name %></h1>

<table>
  <tr>
    <th>Admin</th>
    <th>Rating</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <tr>
    <td><%= @author.admin? %></td>
    <td><%= @author.rating %></td>
    <td><%= @author.created_at %></td>
    <td><%= @author.updated_at %></td>
  </tr>
</table>