<h1><%= @author.name %></h1>

<p>Admin: <%= @author.admin? %></p>
<p>Rating: <%= @author.rating %></p>
<p>Created At: <%= @author.created_at %></p>
<p>Updated At: <%= @author.updated_at %></p>
<h3>Stories</h3>
<a href="/authors/<%= @author.id %>/stories/new">Create a Story for the Author</a><br/>
<a href="/authors/<%= @author.id %>/stories?sort_by_name=true">Sort By Name</a>
<form action="/authors/<%= @author.id %>/stories" method="get">
  <label for="greater_than">Filter by likes greater than</label>
  <input type="number" name="greater_than" id="greater_than">
  <input type="submit" name='Submit'>
</form>
<% @stories.each do |story| %>
  <a href="/stories/<%= story.id %>">
    <ul>
      <li>Name: <%= story.name %></li>
      <li>Published?: <%= story.published %></li>
      <li>Likes: <%= story.likes %></li>
      <li><a href="/stories/<%= story.id %>/edit">Update</a></li>
      <li><%= link_to 'Delete', "/stories/#{story.id}", method: :delete %></li>
    </ul>
  </a>
<% end %>
