<!DOCTYPE html>
<html>
  <head>
    <title>RationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <ul>
    <li><a href="/authors">Authors Index</a></li>
    <li><a href="/story">Stories Index</a></li>
    <li><a href="/story/new">Create a Story</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
